<section class="container">
  <div class="events">

		<h1 class="section-title">Editing Event</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @event %> |
		<%= link_to 'Back', events_path %>

	</div>
</section>
