<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="page-header">
  <div class="main-text-center-page">
    <h1 class="main-greeting">Come to Church</h1>
    <p class="intro-text">Come to Asbury Broadneck UMC and learn love and grow with God</p>
    <p><a href="#" class="btn" role="button">Learn more &raquo;</a></p>
    <div class="sunday-service">
      <p class="center">Sunday School 9:00am</p>
      <p class="center">Sunday Worship 10:15am</p>
    </div>
  </div>
</div> 

<section class="events">
	<h2 class="section-title">Church Events</h2>
</section>
