<header>
	<div class="header">
		<h1 class="logo">Asbury Broadneck UMC</h1>
	</div>
	<nav>
		<ul class="navigation">
			<li><a href="#">Home</a></li>
			<li><a href="#">About us</a></li>
			<li><a href="#">Sermons</a></li>
			<li><a href="#">Church events</a></li>
			<li><a href="#">Tithe</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
	</nav>
</header>